/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .about-mf .about-img {
    margin-bottom: 2rem;
  }
  .about-mf .about-img img {
    margin-left: 10px;
  }
  @media (min-width: 767px) {
    .about-mf .box-pl2 {
      margin-top: 3rem;
      padding-left: 0rem;
    }
  }

.img-mine{
    width:80%;
}

.lead{
  font-weight: 400;
}
  


/*Button Animations*/

.contact-login{
  color:#0d6efd;
}

.contact-login:hover {
  color:#fff;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #0d6efd;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #0d6efd;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #0d6efd,
              0 0 25px #0d6efd,
              0 0 50px #0d6efd,
              0 0 100px #0d6efd;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #0d6efd);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #0d6efd);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #0d6efd);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #0d6efd);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
